@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663037659551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e65d";
}

.icon-guanbi:before {
  content: "\e61b";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-yejianmoshi:before {
  content: "\e611";
}

.icon-left:before {
  content: "\e697";
}

.icon-right:before {
  content: "\e699";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-dianzan:before {
  content: "\e608";
}

.icon-luxiang:before {
  content: "\e60a";
}

.icon-dingwei:before {
  content: "\e60b";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-gengduo:before {
  content: "\e60d";
}

.icon-fasong:before {
  content: "\e60e";
}

.icon-xinxi:before {
  content: "\e60f";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-wenjian:before {
  content: "\e612";
}

.icon-zanting:before {
  content: "\e613";
}

.icon-shoucang:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-shanchu:before {
  content: "\e616";
}

.icon-shouye:before {
  content: "\e617";
}

.icon-tongzhi:before {
  content: "\e618";
}

.icon-luyin:before {
  content: "\e619";
}

.icon-bianji:before {
  content: "\e61a";
}

.icon-fuzhi:before {
  content: "\e61c";
}

.icon-baocun:before {
  content: "\e61d";
}

.icon-lishi:before {
  content: "\e61e";
}

